Lissajou/bin/Debug/Lissajou.pdb
Lissajou/bin/Debug/Pic_0003.png
Lissajou/bin/Debug/Pic_0103.png
Lissajou/bin/Debug/Pic_0203.png
Lissajou/bin/Debug/Pic_0303.png
Lissajou/bin/Debug/Pic_0403.png
Lissajou/bin/Debug/Pic_0503.png
Lissajou/bin/Debug/Pic_0603.png
Lissajou/bin/Debug/Pic_0703.png
Lissajou/bin/Debug/Pic_0803.png
Lissajou/bin/Debug/Pic_0903.png
Lissajou/bin/Debug/Pic_1003.png
Lissajou/bin/Debug/Pic_1103.png
Lissajou/bin/Debug/Pic_1203.png
Lissajou/bin/Debug/Pic_1303.png
Lissajou/bin/Debug/Pic_1403.png
Lissajou/bin/Debug/Pic_1503.png
Lissajou/bin/Debug/Pic_1603.png
Lissajou/bin/Debug/Pic_1703.png
Lissajou/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Lissajou/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lissajou/obj/x86/Debug/GenerateResource.read.1.tlog
Lissajou/obj/x86/Debug/GenerateResource.write.1.tlog
Lissajou/obj/x86/Debug/Lissajou.csproj.FileListAbsolute.txt
Lissajou/obj/x86/Debug/Lissajou.exe
Lissajou/obj/x86/Debug/Lissajou.pdb
Lissajou/obj/x86/Debug/WindowsFormsApplication1.Form1.resources
Lissajou/obj/x86/Debug/WindowsFormsApplication1.Properties.Resources.resources
Lissajou/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
Lissajou/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
Lissajou/obj/x86/Release/GenerateResource.read.1.tlog
Lissajou/obj/x86/Release/GenerateResource.write.1.tlog
Lissajou/obj/x86/Release/Lissajou.csproj.FileListAbsolute.txt
Lissajou/obj/x86/Release/Lissajou.exe
Lissajou/obj/x86/Release/Lissajou.pdb
Lissajou/obj/x86/Release/ResolveAssemblyReference.cache
Lissajou/obj/x86/Release/WindowsFormsApplication1.Form1.resources
Lissajou/obj/x86/Release/WindowsFormsApplication1.Properties.Resources.resources
Lissajou/bin/Release/Pict_03.png
Lissajou/bin/Release/Pict_103.png
Lissajou/bin/Release/Pict_203.png
Lissajou/bin/Release/Pict_303.png
Lissajou/bin/Release/Pict_403.png
Lissajou/bin/Release/Pictu_403.png
*.pdb
Lissajou/bin/Debug/Lissajou.vshost.exe
Lissajou/bin/Debug/WindowsFormsApplication1.vshost.exe
Lissajou/bin/Debug/WindowsFormsApplication1.vshost.exe.manifest
